<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="ui container" th:fragment="top">
    <div class="ui inverted secondary stackable menu">
        <h2 class="ui olive header item" style="font-family: STSong" >Lxd_</h2>
        <!--<div class="right m-item item m-mobile-hide">-->
        <a href="#" th:href="@{/}" class="active m-item item"><i class="home icon"></i>首页</a>
        <a href="#" th:href="@{/types/-1}" class="m-item item"><i class="clone outline icon"></i>分类</a>
        <a href="#" th:href="@{/archives}" class="m-item item"><i class="clock icon"></i>时间轴</a>
        <a href="#" th:href="@{/music}" class="m-item item"><i class="music icon"></i>音乐盒</a>
        <a href="#" th:href="@{/messages}" class="m-item item"><i class="book icon"></i>留言板</a>
        <a href="#" th:href="@{/picture}" class="olive m-item item"><i class="image icon"></i>照片墙</a>
        <a href="#" th:href="@{/about}" class="m-item item"><i class="info icon"></i>关于我</a>
        <!--</div>-->
        <div class="right m-item item">
            <form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
                <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                    <input style="color: white" type="text" name="query" placeholder="Search...." >
                    <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                </div>
            </form>
        </div>
        <a href="#"  class="m-item item"><i class="user icon" style="color: green" ></i>[[${session.user} == null ? 未登录:${session.user.nickname}]]</a>
        <a href="#" th:href="@{/toLogin}" th:if="${session.user}==null" style="float: right ; display: block" class="m-item item"><i class="fa-sign-in icon" style="color: green" ></i>登录</a>
        <a href="#" th:href="@{/logout}" style="float: right ; display: block" class="m-item item"><i class="fa-sign-out icon" style="color: red"></i>登出</a>
    </div>
</div>
<a href="#" class="ui menu toggle black icon button m-right-top m-mobile-hide" style="display: none">
    <i class="sidebar icon"></i>
</a>

<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity" th:fragment="footer">
    <!--容器-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >联系我</div>
                <div class="ui inverted link list">
                    <div href="#" class="m-text-thin">Email：lxd_jwj@163.com</div>
                    <div href="#" class="m-text-thin">QQ：1750402901</div>
                </div>
            </div>

            <div class="four wide column" >
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced " >关注公众号</div>
                        <img src="../../static/images/gongzong.jpg" th:src="@{/images/gongzong.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced " >个人微信</div>
                        <img src="../../static/images/LXD1.jpg" th:src="@{/images/LXD1.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <!--博客运行时间统计-->
            <div class="four wide column">
                <div style="font-size: large;font-weight: bold" class="ui inverted  m-text-thin m-text-spaced m-margin-top">博客信息</div>
                <!--<p id="htmer_time" class="item m-text-thin"></p>-->
                <div id="blog-message">
                    <div class="ui inverted link list" style="align-content: center;margin-top: 10px" th:fragment="blogMessage">
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px;">
                            文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null" th:text="${blogTotal}" style="font-size:medium;" > </h2> 篇
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogViewTotal}"> 14 </h2> 次
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogCommentTotal}"> 14 </h2> 条
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogMessageTotal}"> 14 </h2> 条
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced">我的Blog已营业：<span id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)</div>
        <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">赣ICP备20004408号-1</a>
    </div>
</footer>

<script th:fragment="time">

     $('#newblog-container').load("/footer/newblog");
     $('#blog-message').load("/footer")
    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }
    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date(Date.UTC(2021, 03, 15, 0, 0, 0)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }
    setInterval(setTime, 1000);
</script >
</body>
</html>